<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--Boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--google fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!--css-->
    <link rel="stylesheet" href="/front/public/styles/styles.css" type="text/css">


</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1d72c2;">
    <a class="navbar-brand" href="#">logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/front/views/contactos.html">Contactos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/front/views/companias.html">Compañias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/front/views/usuar.html">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/front/views/regiones.html">Región/Ciudad</a>
        </li>
      </ul>
    </div>
  </nav>


<section class="titleCompany">

  <h1>COMPAÑIAS</h1> 

</section>

  <!--formulario-->

  <div class="container p-5" >
    <div class="row">
      <div class="cold-md-4 offset-md-4">
        <div class="card">
          <div class="cardheader text-black text-center ">
            <h4>CREAR COMPAÑIA</h4>
          </div>
          <div class="card-body">

            <form>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                  <input type="text" id="nombre"  class="form-control form-control-sm" id="colFormLabelSm" placeholder="Nombre">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Dirección</label>
                <div class="col-sm-8">
                  <input type="text" id="dire" class="form-control" id="colFormLabel" placeholder="Dirección">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelLg" class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                  <input type="email" id="email" class="form-control" id="colFormLabelLg" placeholder="Email">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabelSm" class="col-sm-4 col-form-label">Telefono</label>
                <div class="col-sm-8">
                  <input type="number" id="tel" class="form-control form-control-sm" id="colFormLabelSm" placeholder="Numero Contacto">
                </div>
              </div>
              <div class="form-group row">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Ciudad</label>
                <div class="col-sm-8">
                  <input type="text" id="city" class="form-control" id="colFormLabel" placeholder="Ciudad">
                </div>
              </div>
             

              <div class="form-group">
                <button id="btnCrear" class="btn  btn-block">
                  AGREGAR
                </button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

  


</body>