<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--Boostrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!--css-->
  <link rel="stylesheet" href="/front/public/styles/styles.css" type="text/css">
  <!--font awesone-->
  <script src="https://kit.fontawesome.com/2b29b122bc.js" crossorigin="anonymous"></script>

  <!--tabla  -->
  <link href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet">


  <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/096f51d3db.js"></script>
  <!-- CSS tabla -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
  <!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />


  <!--jstree-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark color_navbar" style="background-color: #214985;">
    <a class="navbar-brand" href="#">SOFTWARE COMPANY</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/front/views/contactos.html">Contactos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/front/views/companias.html">Compañias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/front/views/usuar.html">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/front/views/regiones.html">Región/Ciudad</a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="titulo1">

    <h1>CONTACTOS</h1>

  </section>

  <div class="bnAgregar ">
    <div>
      <input class=" inputSearch" id="my_input_search" type="search" placeholder="Search" aria-label="Search"></input>
      <button class="btn btn-outline-secondary  buscar" id="buscar_Contactos" type=""><i
          class="fas fa-search"></i></button>
    </div>
    <div>
      <button type="" class="btn btn-secondary " data-toggle="modal" data-target="#modal1">AgregarContactos</button>
    </div>
  </div>




  <form id="formularioContacto">


    <div class="container" id="container">

      <div class="modal" tabindex="-1" id="modal1">
        <div class="modal-dialog modal-lg" style="min-width: 98%; ">


          <div class="modal-content">

            <div class="modal-header modal2 ">
              <div class="modal4">
                Nuevo Contacto
                <button class="close" id="close" data-dismiss="modal">&times;</button>
              </div>
            </div>

            <div class="modal-dialog modal-lg" style="min-width: 96%;">

              <div class="modal-content contenedor">
                <div class="modal-header  ">


                  <div class="contenedorContactos">
                    <form class="form-Contact ">

                      <div class=" contact1 form-row" id="">
                        <label for="colFormLabelSm" class="col-sm-4 col-form-label">Nombre*</label>
                        <input type="text" id="nombre" class="form-control form-control-sm" placeholder="Nombre">
                      </div>

                      <div class="contact1 form-row" id="">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Apellido*</label>
                        <input type="text" id="apellido" class="form-control" placeholder="Apellido">
                      </div>

                      <div class="contact1 form-row" id="">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Cargo*</label>
                        <input type="text" id="cargo" class="form-control" placeholder="Cargo">
                      </div>

                      <div class="contact1 form-row" id="">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Email*</label>
                        <input type="email" id="email" class="form-control" placeholder="Email">
                      </div>



                      <div class="contact1 form-row" id="">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Compañia*</label>
                        <div class="contact1 form-row seccionCompanias ">
                          <select class=" form-control " id="compania">
                            <option selected>selecciona una compania</option>
                          </select>
                        </div>
                      </div>

                    </form>
                  </div>
                </div>

              </div>
            </div>

            <!--*****************modal body************************-->

            <div class="modal-body moverBody" id="moverBody">
              <form class="form-group contenedorContactos " id="formAgregarContactos">

                <div class="modal3">

                  <div class="contact2 " id="">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Región</label>
                    <select class="selectRegion" id="region">
                      <option>Selecciona Región</option>

                    </select>
                  </div>


                  <div class="contact2 labelBody" id="">
                    <label for="colFormLabel" class=" col-sm-12 col-form-label ">País</label>
                    <select class="selectRegion colorInput" id="pais">
                      <option>Seleccionar País</option>
                      <option>...</option>
                    </select>
                  </div>

                  <div class="contact2 labelBody" id="">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Ciudad</label>
                    <select class="selectRegion colorInput" id="ciudad">
                      <option>Seleccionar Ciudad</option>
                      <option>...</option>
                    </select>
                  </div>

                  <div class="contact2 labelBody" id="">
                    <label for="colFormLabel" class=" col-form-label">Dirección</label>
                    <input type="text" id="direccion" class="form-control" placeholder="Dirección">
                  </div>

                  <div class="contact2 labelBody" id="">
                    <label for="colFormLabel" class=" col-form-label">Interés</label>
                    <select class="selectRegion " id="interes">
                      <option>0%</option>
                      <option>25%</option>
                      <option>50%</option>
                      <option>75%</option>
                      <option>100%</option>
                    </select>
                  </div>
                </div>

                <div class="seccionCanal">

                  <div class="modal3 " id="canalContactos">

                    <div class="contact2 labelBody" id="contacto_canal">
                      <label for="colFormLabel" class="col-sm-12 col-form-label canal">Canal de Contacto</label>
                      <select class="form-control" id="canal">
                        <option>Seleccionar Canal</option>

                      </select>
                    </div>

                    <div class="contact3 labelBody cuentaUsuario" id="cuenta_Contacto">
                      <label for="colFormLabel" class="col-sm-12 col-form-label">Cuenta de Usuario</label>
                      <input type="text" id="cuentaUsuario" class="form-control colorInput" placeholder="@ejemplo">
                    </div>

                    <div class="contact3 labelBody" id="preferencia_contacto">
                      <label for="colFormLabel" class="col-sm-12 col-form-label">Preferencias</label>
                      <select class="form-control colorInput" id="preferencias">
                        <option>Seleccionar Preferencias</option>
                        <option value="">Sin Preferencias</option>
                        <option value="">canal Favorito</option>
                        <option value="">No Molestar</option>
                      </select>
                    </div>




                  </div>


                  <div class="modal3">

                    <div class="contact2 labelBody" id="">
                      <label for="colFormLabel" class="col-sm-12 col-form-label canal">Canal de Contacto</label>
                      <select class="form-control" id="canal2">
                        <option>Seleccionar Canal</option>
                      </select>
                    </div>

                    <div class="contact3 labelBody cuentaUsuario" id="">
                      <label for="colFormLabel" class="col-sm-12 col-form-label">Cuenta de Usuario</label>
                      <input type="text" id="cuentaUsuario2" class="form-control colorInput" placeholder="@ejemplo">
                    </div>

                    <div class="contact3 labelBody" id="">
                      <label for="colFormLabel" class="col-sm-12 col-form-label">Preferencias</label>
                      <select class="form-control colorInput" id="preferencias2">
                        <option>Seleccionar Preferencias</option>
                        <option value="">Sin Preferencias</option>
                        <option value="">canal Favorito</option>
                        <option value="">No Molestar</option>
                      </select>
                    </div>

                  </div>


                  <div class="modal3">

                    <div class="contact2 labelBody" id="">
                      <label for="colFormLabel" class="col-sm-12 col-form-label canal">Canal de Contacto</label>
                      <select class="form-control" id="canal3">
                        <option>Seleccionar Canal</option>
                      </select>
                    </div>

                    <div class="contact3 labelBody cuentaUsuario" id="">
                      <label for="colFormLabel" class="col-sm-12 col-form-label">Cuenta de Usuario</label>
                      <input type="text" id="cuentaUsuario3" class="form-control colorInput" placeholder="@ejemplo">
                    </div>

                    <div class="contact3 labelBody" id="">
                      <label for="colFormLabel" class="col-sm-12 col-form-label">Preferencias</label>
                      <select class="form-control colorInput" id="preferencias3">
                        <option>Seleccionar Preferencias</option>
                        <option value="">Sin Preferencias</option>
                        <option value="">canal Favorito</option>
                        <option value="">No Molestar</option>
                      </select>
                    </div>


                  </div>

                </div>

              </form>
            </div>
            <div class="modal-footer moverFooter">
              <div class="  ">
                <button class=" btn-group  form-control colorInput3 close2" data-dismiss="modal"
                  id="cancelar">Cancelar</button>
              </div>

              <div>
                <button class=" btn-group  form-control colorInput2" id="guardarContacto"> Guardar Contacto </button>
              </div>


              <div>
                <button class=" btn-group  form-control colorInput2 displaynone" id="editar_Contacto"> Editar Contacto
                </button>
              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    </div>

  </form>

  <div class="container_1 mt-4 shadow-lg p-3 mb-5 bg-body rounded " id="container_1">

    <div class="divSeleccionar " id="itemSeleccionado">
      <div class="btnEliminarContacto ">
        <p class=" seleccionados  "></p>
        <button class="btn buscar displaynone eliminar" id="eliminarContact" title="Remove"><i class="fas fa-trash">
            Eliminar
            Contactos</i></button>
      </div>


      <table id="tableContact" class="table mt-2 table-bordered table-striped">
        <thead>
          <tr class="text-center">
            <th><input type="checkbox" id="checkall"></th>
            <th>id</th>
            <th>CONTACTOS</th>
            <th>EMAIL</th>
            <th>PAÍS/REGIÓN</th>
            <th>COMPAÑIA</th>
            <th>CARGO</th>
            <th>INTERES</th>
            <th>ACCION</th>

          </tr>
        <tbody id="bodyContactos">
        </tbody>
        </thead>

      </table>
    </div>
  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!--
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>

  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>

  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>-->

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="//cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>




  <script src="/front/public/js/funciones.js"></script>
  <script src="/front/public/js/contactos.js"></script>
  <script src="/front/public/js/fromContactos.js"></script>
  <script src="/front/public/js/buscarContactos.js"></script>


  <script>
    $(document).ready(function () {
      var table = $('#tableContact').DataTable({
        searching: false,
        lengthChange: false,

        // ordering: false,

        columnDefs: [{
          orderable: false,
          className: 'select-checkbox',
          targets: 0
        }],
        select: {
          style: 'multi',
          selector: 'td:first-child',
        },

        lengthMenu: [
          [1, 2, 3, -1],
          [1, 2, 3, "All"]
        ]
      });

      //hacer click en todos los items

      $('#checkall').change(function () {
        $('.checkitem').prop("checked", $(this).prop("checked"))
        let checked = $(".checkitem:checked").length;
        $("p").text(checked + " " + "Seleccionado(s)");
        $("td").toggleClass('selected');
        $('.buscar').toggleClass('displayblock').length

      })

      //hacer click en un solo item

      $('#tableContact tbody').on('click', 'tr', function () {

        let checked = $(".checkitem:checked").length;
        $("p").text(checked + " " + "Seleccionado(s)");

        let selectedItem = $(this).toggleClass('selected').length;
        let deselectedItem = $(this).toggleClass('deselect').length;


        if (checked == selectedItem) {
          $('.buscar').toggleClass('displayblock').length
        } else if (checked == deselectedItem) {
          $('.buscar').toggleClass('displaynone').length
        }
      })


      //************* Delete record*************//
      $('#eliminarContact').click(function () {

        var delete_arr = [];
        $(".checkitem:checked").each(function () {
            let final = $(this).prop("id");
            final = final.slice(6);
            console.log(final);

            delete_arr.push(final);

          }),

          console.log(delete_arr);
        let listadoC = delete_arr.toString();

        alertify.confirm("¿Desea Eliminar el registro?",
          function () {
            fetch("http://127.0.0.1:3000/api/delete/remove/" + listadoC, {

                method: 'DELETE',
                headers: {
                  'Content-Type': 'application/json',
                  'Authorization': `BEARER ${localStorage.getItem('token')}`
                }

              }).then(res => res.json())
              .then(() => location.reload())

          },
          function () {
            alertify.error('cancel')
          })

      })

      //***********buscar***************//
      $('#my_input_search').on('keyup change', function () {
          table.search($(this).val()).draw();

        })

  

    })
  </script>





</body>

</html>