<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!--Boostrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!--google fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

  <!--css-->
  <link rel="stylesheet" href="/front/public/styles/styles.css" type="text/css">
  <!--font awesone-->
  <script src="https://kit.fontawesome.com/2b29b122bc.js" crossorigin="anonymous"></script>

  <!--tabla  -->

  <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/096f51d3db.js"></script>



</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1d72c2;">
    <a class="navbar-brand" href="#">logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/front/views/contactos.html">Contactos <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/front/views/companias.html">Compañias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/front/views/usuar.html">Usuarios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="/front/views/regiones.html">Región/Ciudad</a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="titulo1">

    <h1>CONTACTOS</h1>

  </section>

  <div class="bnAgregar">
    <div >
      <input class=" inputSearch" type="search" placeholder="Search" aria-label="Search"></input>
      <button class="btn btn-outline-secondary  buscar" type="submit"><i class="fas fa-search"></i></button>
    </div>
    <div>
      <button type="button" class="btn btn-secondary " data-toggle="modal" data-target="#modal1">AgregarContactos</button>
    </div>
  </div>




  <section>


    <div class="container" id="container">

      <div class="modal" tabindex="-1" id="modal1">
        <div class="modal-dialog modal-lg" style="min-width: 98%; ">


          <div class="modal-content">

            <div class="modal-header modal2 ">
              <div class="modal4">
                Nuevo Contacto
                <button class="close" id="close" data-dismiss="modal">&times;</button>
              </div>
            </div>

            <div class="modal-dialog modal-lg" style="min-width: 96%;">

              <div class="modal-content contenedor">
                <div class="modal-header  ">


                  <div class="contenedorContactos">
                    <form class="form-Contact ">

                      <div class=" contact1 form-row" id="contacto1">
                        <label for="colFormLabelSm" class="col-sm-4 col-form-label">Nombre*</label>
                        <input type="text" id="nombre" class="form-control form-control-sm" placeholder="Nombre">
                      </div>

                      <div class="contact1 form-row" id="contacto1">
                        <label for="colFormLabel" class="col-sm-4 col-form-label">Apellido*</label>
                        <input type="text" id="apellido" class="form-control" placeholder="Apellido">
                      </div>

                      <div class="contact1 form-row" id="contacto1">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Cargo*</label>
                        <input type="text" id="cargo" class="form-control" placeholder="Cargo">
                      </div>

                      <div class="contact1 form-row" id="contacto1">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Email*</label>
                        <input type="email" id="email" class="form-control" placeholder="Email">
                      </div>


                      
              <div class="contact1 form-row" id="contacto1">
                <label for="colFormLabel" class="col-sm-4 col-form-label">Compañia*</label>
                <div class="contact1 form-row seccionCompanias ">
                  <select class=" form-control " id="compania">
                    <option selected>selecciona una compania</option>
                  </select>
                </div>
              </div>

                    </form>
                  </div>
                </div>

              </div>
            </div>

            <!--*****************modal body************************-->

            <div class="modal-body moverBody" id="moverBody">
              <form class="form-group contenedorContactos " id="formAgregarContactos">

                <div class="modal3">

                  <div class="contact1 " id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Región</label>
                    <select class="selectRegion" id="region">
                      <option>Selecciona Región</option>
                      <option>...</option>
                    </select>
                  </div>


                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class=" col-sm-12 col-form-label ">País</label>
                    <select class="selectRegion colorInput" id="pais">
                      <option>Seleccionar País</option>
                      <option>...</option>
                    </select>
                  </div>

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Ciudad</label>
                    <select class="selectRegion colorInput" id="ciudad">
                      <option>Seleccionar Ciudad</option>
                      <option>...</option>
                    </select>
                  </div>

                  <div class="contact1 labelBody" id="contacto3">
                    <label for="colFormLabel" class=" col-form-label">Dirección</label>
                    <input type="text" id="direccion" class="form-control" placeholder="Dirección">
                  </div>

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class=" col-form-label">Interés</label>
                    <select class="selectRegion " id="interes">
                      <option>0%</option>
                      <option>25%</option>
                      <option>50%</option>
                      <option>75%</option>
                      <option>100%</option>
                    </select>
                  </div>
                </div>

                <div class="modal3" id="canalContactos">

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label canal">Canal de Contacto</label>
                    <select class="form-control" id="canal"> 
                      <option>Seleccionar Canal</option>
                      <option>Telefono</option>
                      <option>Twitter</option>
                      <option>LinkedIn</option>
                    </select>
                  </div>

                  <div class="contact1 labelBody cuentaUsuario" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Cuenta de Usuario</label>
                    <input type="text" id="cuentaUsuario" class="form-control colorInput" placeholder="@ejemplo">
                  </div>

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Preferencias</label>
                    <select class="form-control colorInput" id="preferencias">
                      <option>Sin Preferencias</option>
                      <option>canal Favorito</option>
                      <option>No Molestar</option>
                    </select>
                  </div>

                  
  

                </div>

                <div class=" contact1 agregarMas " id="nuevoCanal">
                  <button class=" btn-group  form-control" id="agregarCanal">
                    + Agregar Canal
                  </button>
                </div>
                 
              

                <!--

                <div class="modal3">

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label canal">Canal de Contacto</label>
                    <select class="form-control">
                      <option>Seleccionar Canal</option>
                      <option>Telefono</option>
                      <option>Twitter</option>
                      <option>LinkedIn</option>
                    </select>
                  </div>

                  <div class="contact1 labelBody cuentaUsuario" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Cuenta de Usuario</label>
                    <input type="text" id="cuentaUsuario" class="form-control colorInput" placeholder="@ejemplo">
                  </div>

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Preferencias</label>
                    <select class="form-control colorInput">
                      <option>Sin Preferencias</option>
                      <option>canal Favorito</option>
                      <option>No Molestar</option>
                    </select>
                  </div>

                </div>


                
                <div class="modal3">

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label canal">Canal de Contacto</label>
                    <select class="form-control">
                      <option>Seleccionar Canal</option>
                      <option>Telefono</option>
                      <option>Twitter</option>
                      <option>LinkedIn</option>
                    </select>
                  </div>

                  <div class="contact1 labelBody cuentaUsuario" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Cuenta de Usuario</label>
                    <input type="text" id="cuentaUsuario" class="form-control colorInput" placeholder="@ejemplo">
                  </div>

                  <div class="contact1 labelBody" id="contacto2">
                    <label for="colFormLabel" class="col-sm-12 col-form-label">Preferencias</label>
                    <select class="form-control colorInput">
                      <option>Sin Preferencias</option>
                      <option>canal Favorito</option>
                      <option>No Molestar</option>
                    </select>
                  </div>
                 

                </div>  -->

              </form>
            </div>
            <div class="modal-footer moverFooter">
              <div class="  ">
                <button class=" btn-group  form-control colorInput3 close2" data-dismiss="modal" id="cancelar">Cancelar</button>
              </div>

              <div>
                <button class=" btn-group  form-control colorInput2" id="guardarContacto"> Guardar Contacto </button>
              </div>
            </div>



          </div>

        </div>

      </div>

    </div>

  </section>















  <!--script boostrap -->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>

  <!--script tabla  -->

  <section id="grilla-users">
    <table id="table-users" data-toolbar="#toolbar" data-click-to-select="true" data-id-field="id"
      data-page-list="[10, 25, 50, 100, all]" data-side-pagination="server">
    </table>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>


  <script src="/front/public/js/funciones.js"></script>
<script src="/front/public/js/contactos.js"></script>
<script src="/front/public/js/formcontactos.js"></script>





  <script type="text/javascript">
    var $table = $('#table-users')
    var $remove = $('#remove')
    var selections = []

    function operateFormatter(value, row, index) {
      return [
        '<a class="edit" href="javascript:void(0)" title="Edit">',
        '<i class="fa fa-edit"></i>',
        '</a> ',
        '<a class="remove" href="javascript:void(0)" title="Remove">',
        '<i class="fa fa-trash"></i>',
        '</a>'
      ].join('')
    }

    window.operateEvents = {
      'click .edit': function (e, value, row, index) {
        document.getElementById('nombre').value = row.nombre;
        document.getElementById('apellido').value = row.apellido;
        document.getElementById('email').value = row.email;
        document.getElementById('perfil').value = row.perfil;
      },
      'click .remove': function (e, value, row, index) {
        if (window.confirm("¿Desea eliminar el registro?")) {
          console.log('windowOperateEvent', row, index);
          $table.bootstrapTable('remove', {
            field: 'id',
            values: [row.id]
          })

          const body = {
            id: row.id
          }
        }
      }
    }

    function initTable() {
      $table.bootstrapTable('destroy').bootstrapTable({
        url: 'http://127.0.0.1:3000/api/usuarios/all',
        
        pagination: true,
        height: 550,
        columns: [
          [{
            title: 'ID',
            field: 'id',
            align: 'center',
            valign: 'middle'
          }, {
            field: 'Check',
            title: 'check',
            align: 'center'
          }, {
            field: 'Contactos',
            title: 'Contactos',
            align: 'center'
          }, {
            field: 'País/Región',
            title: 'País/Región',
            align: 'center'
          }, {
            field: 'Compañía',
            title: 'Compañía',
            align: 'center'
          }, {
            field: 'Cargo',
            title: 'Cargo',
            align: 'center'
          }, {
            field: 'Interés',
            title: 'Interés',
            align: 'center'
          }, {
            field: 'operate',
            title: 'Acción',
            align: 'center',
            clickToSelect: false,
            events: window.operateEvents,
            formatter: operateFormatter
          }]
        ]
      })

      $remove.click(function (e) {
        console.log('removeClic', e);
      })
    }

    $(function () {
      initTable()
    })
  </script>





</body>

</html>